@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
    color-scheme: light;
    --neutral-0: 0deg 0% 100%;
    --neutral-50: 0deg 0% 98%;
    --neutral-100: 0deg 0% 96%;
    --neutral-200: 0deg 0% 90%;
    --neutral-300: 0deg 0% 83%;
    --neutral-400: 0deg 0% 64%;
    --neutral-500: 0deg 0% 45%;
    --neutral-600: 0deg 0% 32%;
    --neutral-700: 0deg 0% 25%;
    --neutral-800: 0deg 0% 15%;
    --neutral-900: 0deg 0% 9%;
    --neutral-950: 0deg 0% 4%;

    --primary-50: 7deg 69% 95%;
    --primary-100: 3deg 69% 90%;
    --primary-200: 4deg 69% 80%;
    --primary-300: 4deg 69% 70%;
    --primary-400: 4deg 69% 60%;
    --primary-500: 4deg 69% 50%;
    --primary-600: 4deg 69% 40%;
    --primary-700: 4deg 69% 30%;
    --primary-800: 4deg 69% 20%;
    --primary-900: 3deg 69% 10%;
    --primary-950: 3deg 69% 5%;
}
:root[data-theme="dark"] {
    color-scheme: dark;
    --neutral-0: 0deg 0% 4%;
    --neutral-50: 0deg 0% 9%;
    --neutral-100: 0deg 0% 15%;
    --neutral-200: 0deg 0% 25%;
    --neutral-300: 0deg 0% 32%;
    --neutral-400: 0deg 0% 45%;
    --neutral-500: 0deg 0% 64%;
    --neutral-600: 0deg 0% 90%;
    --neutral-700: 0deg 0% 83%;
    --neutral-800: 0deg 0% 96%;
    --neutral-900: 0deg 0% 98%;
    --neutral-950: 0deg 0% 100%;


    --primary-50: 3deg 69% 5%;
    --primary-100: 3deg 69% 10%;
    --primary-200: 4deg 69% 20%;
    --primary-300: 4deg 69% 30%;
    --primary-400: 4deg 69% 40%;
    --primary-500: 4deg 69% 50%;
    --primary-600: 4deg 69% 60%;
    --primary-700: 4deg 69% 70%;
    --primary-800: 4deg 69% 80%;
    --primary-900: 3deg 69% 90%;
    --primary-950: 7deg 69% 95%;

}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
